.elementor-80 .elementor-element.elementor-element-ce79ac2 {text-align: center;}
.elementor-80 .elementor-element.elementor-element-fd1e388 {text-align: center;}
.elementor-80 .elementor-element.elementor-element-fd1e388 .elementor-heading-title {color: #00ff7f;}
.elementor-80 .elementor-element.elementor-element-75e4985 .elementor-spacer-inner {--spacer-size: 50px;}
.elementor-80 .elementor-element.elementor-element-f7fa78f {text-align: center;}
.elementor-80 .elementor-element.elementor-element-f7fa78f .elementor-heading-title {color: #00ff7f;}
.elementor-80 .elementor-element.elementor-element-673d4e2 .elementor-spacer-inner {--spacer-size: 50px;}
.elementor-80 .elementor-element.elementor-element-c844fc5 .elementor-heading-title {-webkit-text-stroke-color: #000;stroke: #000;}
.elementor-80 .elementor-element.elementor-element-50bed88 {text-align: center;}
.elementor-80 .elementor-element.elementor-element-50bed88 .elementor-heading-title {color: #00ff7f;}